<header class="welcome-banner">
  <br><br><br><br>
  <div class="headline">
      <h3> Welcome to The Count, <%=@user.name %>! </h3>
      <%= button_to "View Your Recipes", recipes_path, class: "btn btn-primary", method: "get" %>
  </div>
</header>
