main {
  width: 100%;
}

body {
  font-family: "Cantrella";
}

h2 {
  font-size: 3em;
  margin-left: 1em;
  line-height: 100px;
}

h3 {
  font-size: 2em;
  font-weight: 700;
}

h4 {
  font-size: 2em;
  font-weight: 700;
}

p {
  font-size: 1.75em;
  line-height: 3em;
}
